<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700|Raleway" rel="stylesheet">
  </head>
  <body>
    <div class="tiffany-blue-container"></div>
    <div class="deep-teal-container"></div>
    </div>
    <div class="title">Make Friends Minnesota</div>
    <div class="main-container">
      <img clas="logo" src="/images/mfmn_logo.png" alt="Make Friends Minnesota Logo" height="500" width="450">
      <div class="info-container">
        <div class="subtitle">About</div>
        <div class="description">The main focus of Make Friends Minnesota is to connect people around Minnesota with common interests.</div>
        <div class="subtitle">Team</div>
        <div class="description">Angeliki Beyko, Crysta McKenney, Shruthi Ajay, Isha Murugkar, Victoria Chhieng, Amie Thao, Kim Wier, Molly Wier</div>
      </div>
    </div>
  </body>
</html>


<!-- <h1><%= title %></h1>
<p>Welcome to <%= title %></p> -->
