<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/interests.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <title><%= title %></title>
</head>
<body>
    <script>
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=229935821286185&autoLogAppEvents=1';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="tiffany-blue-container">
        <div class="links">
            <span class="home" onclick="window.location.href='/'">Home</span> /
            <span class="profile" onclick="window.location.href='/userprofile'">Profile</span>
        </div>
    </div>
    <div class="deep-teal-container"></div>
    <div class="fb-login">
      <div id="fb-root"></div>
      <div class="fb-login-button" data-size="medium" data-button-type="login_with" data-auto-logout-link="true"
        data-use-continue-as="true"></div>
    </div>
    
  <div class="top-box">
    <div class="wrapper">
      <div class="header-h1">
        <h1>Select Interests</h1>
      </div>
      <div class="box">
        <form class="form-categories">
          <div class="group1">
          <h3>Art</h3>
          <input class="checkbox-interest" type="checkbox" value="outdoors" name="outdoors">Painting</li><br>
          <input class="checkbox-interest" type="checkbox" value="outdoors" name="outdoors">Acting</li><br>
          <input class="checkbox-interest" type="checkbox" value="outdoors" name="outdoors">Cooking</li><br>
          <input class="checkbox-interest" type="checkbox" value="outdoors" name="outdoors">Books</li><br>
            <h3>Outdoors</h3>
              <input class="checkbox-interest" type="checkbox" value="outdoors" name="outdoors">Hiking</li><br>
              <input class="checkbox-interest" type="checkbox" value="outdoors" name="outdoors">Fishing</li><br>
              <input class="checkbox-interest" type="checkbox" value="outdoors" name="outdoors">Rockclimbing</li><br>
              <input class="checkbox-interest" type="checkbox" value="outdoors" name="outdoors">Gardening</li><br>
              </div>
              <div class="group2">
            <h3>Exercise</h3>
            <input class="checkbox-interest" type="checkbox" value="outdoors" name="outdoors">Running</li><br>
            <input class="checkbox-interest" type="checkbox" value="outdoors" name="outdoors">Biking</li><br>
            <input class="checkbox-interest" type="checkbox" value="outdoors" name="outdoors">Swimming</li><br>
            <input class="checkbox-interest" type="checkbox" value="outdoors" name="outdoors">Cardio</li><br>
            <h3>Music</h3>
            <input class="checkbox-interest" type="checkbox" value="outdoors" name="outdoors">Classic</li><br>
            <input class="checkbox-interest" type="checkbox" value="outdoors" name="outdoors">Jazz</li><br>
            <input class="checkbox-interest" type="checkbox" value="outdoors" name="outdoors">Rock</li><br>
            <input class="checkbox-interest" type="checkbox" value="outdoors" name="outdoors">Pop</li><br>
            </div>
            <div class="group3">
            <h3>Sports</h3>
            <input class="checkbox-interest" type="checkbox" value="outdoors" name="outdoors">Baseball</li><br>
            <input class="checkbox-interest" type="checkbox" value="outdoors" name="outdoors">Soccer</li><br>
            <input class="checkbox-interest" type="checkbox" value="outdoors" name="outdoors">Football</li><br>
            <input class="checkbox-interest" type="checkbox" value="outdoors" name="outdoors">Basketball</li><br>
            <h3>Technology</h3>
            <input class="checkbox-interest" type="checkbox" value="outdoors" name="outdoors">Coding</li><br>
            <input class="checkbox-interest" type="checkbox" value="outdoors" name="outdoors">Robotic</li><br>
            <input class="checkbox-interest" type="checkbox" value="outdoors" name="outdoors">Gaming</li><br>
            <input class="checkbox-interest" type="checkbox" value="outdoors" name="outdoors">Hacking</li><br>
            </div>
        </form>
       <center><button class="submit" onclick="window.location.href='/matches'">Submit</button></center>
      </div>
    </div>
  </div>
</body>
</html>
