<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/interests.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <title><%= title %></title>
</head>
<body>
    <script>
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=229935821286185&autoLogAppEvents=1';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="tiffany-blue-container"></div>
    <div class="deep-teal-container"></div>
      <div id="fb-root"></div>
      <div class="fb-login-button" data-size="medium" data-button-type="continue_with" data-auto-logout-link="true" data-use-continue-as="true"></div>
  <div class="top-box">
    <div class="wrapper">
      <div class="header-h1">
        <h1>Select Interests</h1>
      </div>

      <div class="box">

        <form class="form-categories">
            <input class="checkbox-interest" type="checkbox" value="outdoors" name="outdoors" >Outdoors <br>
            <ul></ul>
            <input class="checkbox-interest" type="checkbox" value="exercise" name="exercise" > Food <br>
            <input class="checkbox-interest" type="checkbox" value="exercise" name="exercise" > Music <br>
            <input class="checkbox-interest" type="checkbox" value="exercise" name="exercise" > Sports <br>
            <input class="checkbox-interest" type="checkbox" value="exercise" name="exercise" > Coding <br>
            <input class="checkbox-interest" type="checkbox" value="exercise" name="exercise" > Art <br>
        </form>

        <button class="submit" onclick="window.location.href='/matches'">Submit</button>
      </div>
    </div>
  </div>
</body>
</html>
