<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/message.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/message.js" type="text/javascript"></script>
  </head>
  <body>
      <!-- fb button -->
      <script>
          (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=229935821286185&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
      </script>
      <div class="tiffany-blue-container"></div>
      <div class="deep-teal-container">
          <a href="/" class="home"><i class="fas fa-home fa-2x"></i>HOME</a>
      </div>

      <div class="fb-login-button" data-size="medium" data-button-type="continue_with" data-auto-logout-link="true"
        data-use-continue-as="true"></div>

      <div class="top-box">
          <div class="header-h1" onclick="window.location.href='/profiledescriptions'">
            <h1><img class="profile_img_main" src="/images/marilyn_monroe.jpg"></img> Marilyn Monroe</h1>
          </div>
          <div class="message_box">
              <table class="chat_table">
                  <tr>
                      <td class="chat user_chat">
                          <img class="profile_img u_img" src="/images/marilyn_monroe.jpg"></img>
                          <div class="chat_text">
                              Hey, I see you like music too, do you go to concerts very often?
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td class="chat my_chat">
                          <img class="profile_img m_img" src="/images/CrystaCropped.jpg"></img>
                          <div class="chat_text">
                              Yes! Vieux Carré is basically my second home lol
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td class="chat user_chat">
                          <img class="profile_img u_img" src="/images/marilyn_monroe.jpg"></img>
                          <div class="chat_text">
                              Ha, I don't go as often as I'd like. No fun alone, ya know?
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td class="chat my_chat">
                          <img class="profile_img m_img" src="/images/CrystaCropped.jpg"></img>
                          <div class="chat_text">
                              I hear you. Davina and the Vagabonds are playing there later this week. Want to go check it out with me?
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td class="chat user_chat">
                          <img class="profile_img u_img" src="/images/marilyn_monroe.jpg"></img>
                          <div class="chat_text">
                              That sounds fun, when is she playing?
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td class="chat my_chat">
                          <img class="profile_img m_img" src="/images/CrystaCropped.jpg"></img>
                          <div class="chat_text">
                              Thursday at 8pm.
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td class="chat user_chat">
                          <img class="profile_img u_img" src="/images/marilyn_monroe.jpg"></img>
                          <div class="chat_text">
                              Perfect. Can't wait!
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td class="chat my_chat" id="new_display_msg" style="display:none;">
                          <img class="profile_img m_img" src="/images/CrystaCropped.jpg"></img>
                          <div id="new_chat_text"></div>
                      </td>
                  </tr>
              </table>
              <div>
                  <div>
                      <textarea id="new_message" name="new_message" rows="8" cols="80"></textarea>
                  </div>
                  <div>
                      <button type="button" class="report_btn">Report</button>
                  </div>
                  <div>
                      <button type="button" class="send_btn" onclick="addMessage()">Send</button>
                  </div>
              </div>
          </div>
      </div>
  </body>
</html>
