body {
    margin:0;
    background-color: #034B61;
}

.deep-teal-container {
  background: #034B61;
  height: 75px;
  width: 100vw;
}

.tiffany-blue-container {
  background: #19B3B1;
  height: 100px;
  width: 100vw;
}

.links {
  color: #fff;
  float: right;
  margin-top: 2.5em;
  margin-right: 1em;
  cursor: pointer;
  font-size: 150%;
}
.fb-login {
  display: flex;
  justify-content: flex-end;
}

.top-box {
  margin: 0;
  padding: 0;
  width: auto;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: #034B61;
}

.header-h1 {
    color:white;
    text-align: center;
    grid-column: 4 / 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message_box {
  width: 630px;
  text-align: center;
  grid-column: 4 / 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat_table {
    width: 500px;
    height: 500px;
    overflow-y: auto;
}

.chat {
    padding:5px 10px;
    height: auto;
    border-radius: 25px;
    color: white;
    max-width: 300px;
}

.chat_text {
    text-align: left;
}

.chat.user_chat {
    float:left;
    /* text-align: left; */
    background-color: #19B3B1;
}

.chat.my_chat {
    float: right;
    /* text-align: right; */
    background-color: gray;
}

.profile_img_main {
    height: 50px;
    width: 50px;
    border-radius:50px;
    position:relative;
    top:0;
}

.profile_img {
    height: 25px;
    width: 25px;
    border-radius:50px;
    position:relative;
    top:0;
}

.profile_img.u_img {
    float:left;
    padding: 1px 10px 1px 5px;
}

.profile_img.m_img {
    float: right;
    padding: 1px 5px 1px 10px;
}

.report_btn {
    background-color: #BC5F6A;
    color: white;
    border-radius: 10px;
    float:left;
    font-size:18px;
}

.send_btn {
    background-color: #19B3B1;
    color: white;
    border-radius: 10px;
    float:right;
    font-size:25px;
}
