.fa-home {
    color: #19B3B1;
    padding-right: 0.5em;
  }
  .home {
    float: right;
    margin-right: 2em;
    font-size: 1.5em;
    color: #fff;
    margin-top: 0.5em;
  }
  .home:hover {
    color: gray;
    outline: none;
    text-decoration: none;
  }