body {
  margin: 0;
}


.links {
  color: #fff;
  float: right;
  margin-top: 2.5em;
  margin-right: 1em;
  cursor: pointer;
  font-size: 150%;
}

.tiffany-blue-container {
  background: #19B3B1;
  height: 100px;
  width: 100vw;
}

.fb-login {
  display: flex;
  justify-content: flex-end;
}