/*==========BANNER=================*/

.banner h1 {
  font-family: 'Inconsolata', monospace;
  font-size: 800%;
  color: #333333;
  text-align: center;
}

.banner a {
  text-decoration: none;
  color: #787878;
}

.banner a:hover {
  text-decoration: none;
  color: black;
}

/*==========BODY=================*/

.main h3 {
  font-family: 'Khula', sans-serif;
  font-size: 160%;
  color: #333333;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  line-height: 30px;
}

.main a {
  text-decoration: none;
  color: #25B8A6;
}

.main a:hover {
  color: #25B8A6;
}

/*==========MENU-BUTTON=================*/

.menu-button {
 display: inline-block;
 border-top: solid 2px #25B8A6;
 border-bottom: solid 2px #25B8A6;
 border-right: solid 2px #25B8A6;
 border-left: solid 2px #25B8A6;
 -moz-border-radius: 0px;
 -webkit-border-radius: 0px;
 border-radius: 0px;
 text-align: center;
 width: 100px;  
 height: 30px;
 margin: 5px; 
 line-height: 26px; 
 font-size: 20px;
 font-family: 'Source Sans Pro', sans-serif
}

.menu-button a p {   
 color: #25B8A6;
}

.menu-button a:hover {
 text-decoration: none;
}

.menu-button a p:hover {
 background: #25B8A6;
 color: white;
}

/*==========ICON1=================*/

.icon {
 display: inline-block;
 margin: 5px;
 border-top: solid 2px #51736F;
 border-bottom: solid 2px #51736F;
 border-right: solid 2px #51736F;
 border-left: solid 2px #51736F;
 -moz-border-radius: 0px;
 -webkit-border-radius: 0px;
 border-radius: 0px;
}

.icon:hover {
 border-top: solid 2px black;
 border-bottom: solid 2px black;
 border-right: solid 2px black;
 border-left: solid 2px black;
}

/*==========ALLIGNMENT=================*/

#right-children {
  padding-top: 8px;
  float: right;
  padding-right: 3%;
}

#left-children {
  float: left;
  padding-left: 3%;
}