/*==========BANNER=================*/

.banner h1 {
  font-family: 'Megrim', cursive; 
  font-size: 400%;
  color: #25B8A6;
  text-align: center;
}

.banner h2 {
	font-family: 'Megrim', cursive;
	font-size: 250%;
	color: #51736F;
  text-align: center;
}

/*==========CENTER-BUTTON=================*/

.center-button a p{
 display: inline-block;
 margin: 10px;
 width: 200px;  height: 50px;   color: white; 
 text-align: center;  
 border-top: solid 2px #25B8A6;
 border-bottom: solid 2px #25B8A6;
 border-right: solid 2px #25B8A6;
 border-left: solid 2px #25B8A6;
 -moz-border-radius: 0px;
 -webkit-border-radius: 0px;
 border-radius: 0px;
 font-size: 30px;
 line-height: 47px;
 font-family: 'Source Sans Pro', sans-serif;
 background: #25B8A6;
}

.center-button a p:hover {
 color: #25B8A6;
 background: white;
}

/*==========MENU-BUTTON=================*/

.menu-button {
 display: inline-block;
 border-top: solid 2px #25B8A6;
 border-bottom: solid 2px #25B8A6;
 border-right: solid 2px #25B8A6;
 border-left: solid 2px #25B8A6;
 -moz-border-radius: 0px;
 -webkit-border-radius: 0px;
 border-radius: 0px;
 text-align: center;
 width: 100px;  
 height: 30px;
 margin: 5px; 
 line-height: 26px; 
 font-size: 20px;
 font-family: 'Source Sans Pro', sans-serif
}

.menu-button a p {   
 color: #25B8A6;
}

.menu-button a:hover {
 text-decoration: none;
}

.menu-button a p:hover {
 background: #25B8A6;
 color: white;
}

/*==========ICON1=================*/

.icon {
 display: inline-block;
 margin: 5px;
 border-top: solid 2px #51736F;
 border-bottom: solid 2px #51736F;
 border-right: solid 2px #51736F;
 border-left: solid 2px #51736F;
 -moz-border-radius: 0px;
 -webkit-border-radius: 0px;
 border-radius: 0px;
}

.icon:hover {
 border-top: solid 2px black;
 border-bottom: solid 2px black;
 border-right: solid 2px black;
 border-left: solid 2px black;
}

/*==========ALLIGNMENT=================*/

.center-children {
  text-align: center;
}

#right-children {
  padding-top: 8px;
  float: right;
  padding-right: 3%;
}

#left-children {
  float: left;
  padding-left: 3%;
}

.right-art {
  float: right;
}

.left-art {
  float: left;
}