/*==========BANNER=================*/

.banner h1 {
  font-family: 'Inconsolata', monospace;
  font-size: 800%;
  color: #333333;
  text-align: center;
}

.banner a {
  text-decoration: none;
  color: #787878;
}

.banner a:hover {
  text-decoration: none;
  color: black;
}

/*==========SKILLS=================*/

.skill-level h3 {
  font-family: 'Khula', sans-serif;
  font-size: 300%;
  color: #333333;
  text-align: center;
  /*margin-left: 30px;*/
  line-height: 30px;
}

.skill-level h3 img {
  padding-bottom: 8px;
  padding-left: 20px;
}

.skill-level img {
  text-align: center;
}

.badge-icon p {
  display: inline-block;
  text-align: center;
  font-family: 'Khula', sans-serif;
  font-size: 170%;
  color: #333333;
  /*margin-left: 30px;*/
  padding: 20px;

}

.badge-icon p img {
  display: inline-block;
}

.badge-icon {
  display: inline-block;
  text-align: center;
}

/*==========MENU-BUTTON=================*/

.menu-button {
 display: inline-block;
 border-top: solid 2px #25B8A6;
 border-bottom: solid 2px #25B8A6;
 border-right: solid 2px #25B8A6;
 border-left: solid 2px #25B8A6;
 -moz-border-radius: 0px;
 -webkit-border-radius: 0px;
 border-radius: 0px;
 text-align: center;
 width: 100px;  
 height: 30px;
 margin: 5px; 
 line-height: 26px; 
 font-size: 20px;
 font-family: 'Source Sans Pro', sans-serif
}

.menu-button a p {   
 color: #25B8A6;
}

.menu-button a:hover {
 text-decoration: none;
}

.menu-button a p:hover {
 background: #25B8A6;
 color: white;
}

/*==========ICON1=================*/

.icon {
 display: inline-block;
 margin: 5px;
 border-top: solid 2px #51736F;
 border-bottom: solid 2px #51736F;
 border-right: solid 2px #51736F;
 border-left: solid 2px #51736F;
 -moz-border-radius: 0px;
 -webkit-border-radius: 0px;
 border-radius: 0px;
}

.icon:hover {
 border-top: solid 2px black;
 border-bottom: solid 2px black;
 border-right: solid 2px black;
 border-left: solid 2px black;
}

/*==========ALLIGNMENT=================*/

#right-children {
  padding-top: 8px;
  float: right;
  padding-right: 3%;
}

#left-children {
  float: left;
  padding-left: 3%;
}

#center-children {
  text-align: center
}

/*==========CALLOUTS=================*/

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
    width: 550px;
    display: inline-block;
    text-align: left;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
    width: 550px;
    display: inline-block;
    text-align: left;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
    width: 550px;
    display: inline-block;
    text-align: left;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
    width: 550px;
    display: inline-block;
    text-align: left;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
    width: 550px;
    display: inline-block;
    text-align: left;
}
.bs-callout-info h4 {
    color: #5bc0de;
}